{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

    <div class="card shadow-sm">
        <div class="card-header">
            <h4>Create Expense Category</h4>
        </div>

        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Category Name</label>
                    {{ form.name }}
                </div>

                <button type="submit" class="btn btn-success">
                    Save Category
                </button>

                <a href="{% url 'expenses:category_list' %}" class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>
    </div>

</div>
{% endblock %}