<div class="sidebar" id="sidebar">

    <div class="sidebar-logo">
        ERP SYSTEM
    </div>

    <ul class="sidebar-menu">

        <li>
            <a href="{% url 'dashboard' %}">
                <i class="bi bi-grid"></i>
                Dashboard
            </a>
        </li>

        <li class="menu-title">
            USER MANAGEMENT
        </li>

        <li>
            <a href="#">
                <i class="bi bi-people"></i>
                Users
            </a>
        </li>

        <li class="menu-title">
            PRODUCT MANAGEMENT
        </li>

        <li>
            <a href="{% url 'products:products-home' %}">
                <i class="bi bi-box"></i>
                Products
            </a>
        </li>
                <li>
            <a href="{% url 'products:stock-movement' %}">
                <i class="bi bi-boxes"></i>
                Stock Overview
            </a>
        </li>

        <li class="menu-title">
            Accounts
        </li>

        <li>
            <a href="{% url 'sales:customer_list' %}">
                <i class="bi bi-person"></i>
                Customers
            </a>
        </li>

        <li>
            <a href="{% url 'purchases:factories' %}">
                <i class="bi bi-person"></i>
                Factories
            </a>
        </li>


        {% comment %} <li class="menu-title">
            INVENTORY
        </li>



        <li>
            <a href="#">
                <i class="bi bi-arrow-left-right"></i>
                Stock Movements
            </a>
        </li> {% endcomment %}

        {% comment %} <li class="menu-title">
            PURCHASES
        </li>

        <li>
            <a href="">
                <i class="bi bi-cart"></i>
                Purchase Orders
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-truck"></i>
                Goods Receipts
            </a>
        </li> {% endcomment %}

        <li class="menu-title">
            SALES
        </li>   

        <li>
            <a href="{% url 'sales:order_list' %}">
                <i class="bi bi-bag"></i>
                Orders
            </a>
        </li>

        <li>
            <a href="{% url 'transaction_list' %}">
                <i class="bi bi-currency-dollar"></i>
                Transactions
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cash-stack"></i>
                Expenses
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-journal-text"></i>
                Ledgers
            </a>
        </li>

        <li class="menu-title">
            REPORTS
        </li>

        <li>
            <a href="#">
                <i class="bi bi-bar-chart"></i>
                Reports
            </a>
        </li>

    </ul>

</div>