{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="card shadow-sm mb-4">

        <div class="card-header">
            <h4 class="mb-0">
                Add Product
            </h4>
        </div>

        <div class="card-body">
            <form method="post">

                {% csrf_token %}

                <div class="row g-3">

                    <div class="col-md-4">

                        <label class="form-label fw-semibold">
                            Category
                        </label>

                        {{ form.category }}

                    </div>

                    <div class="col-md-4">

                        <label class="form-label fw-semibold">
                            Product Name
                        </label>

                        {{ form.name }}

                    </div>

                    <div class="col-md-3">

                        <label class="form-label fw-semibold">
                            Product Belonging To
                        </label>

                        {{ form.belongto }}

                    </div>

                    <div class="col-md-1">

                        <label class="form-label fw-semibold d-block">
                            Active
                        </label>

                        <div class="form-check mt-2">
                            {{ form.active }}
                        </div>

                    </div>

                    <div class="col-md-12">

                        <label class="form-label fw-semibold">
                            Product Description
                        </label>

                        {{ form.description }}

                    </div>

                    <div class="col-md-12 text-end">

                        <button
                            type="submit"
                            class="btn btn-primary px-4"
                        >
                            Save Product
                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>


    <div class="card shadow-sm">

        <div class="card-header">
            <h4 class="mb-0">
                Product List
            </h4>
        </div>

        <div class="card-body">

            <table
                id="productTable"
                class="table table-bordered table-striped"
            >

                <thead>

                    <tr>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>

                </thead>

                <tbody>

                    {% for product in products %}

                    <tr>

                        <td>
                            {{ product.id }}
                        </td>

                        
                        <td>
                            <a href="{% url 'products:variants' product.id %}" class="fw-semibold text-decoration-none" > {{ product.name }} </a>
                        </td>
                        <td>
                            {{ product.category.name }}
                        </td>
                        <td>
                            {{ product.belongto }}
                        </td>

                        <td>

                            {% if product.active %}

                                <span class="badge bg-success">
                                    Active
                                </span>

                            {% else %}

                                <span class="badge bg-danger">
                                    Inactive
                                </span>

                            {% endif %}

                        </td>

                        <td>
                            {{ product.created_at|date:"d M Y" }}
                        </td>
                        
                        <td>
                            <a href="#"
                               class="btn btn-sm btn-outline-primary">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="#"
                               class="btn btn-sm btn-outline-danger">
                                Delete
                            </a>
                        </td>
                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="5" class="text-center">

                            No Products Found

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}

{% block extra_js %}

<script>

$(document).ready(function () {

    $('#productTable').DataTable({
        pageLength: 25
    });

});

</script>

{% endblock %}